@model SbsWeb.Data.Board

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Board</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RowLabel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RowLabel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColLabel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColLabel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColNumbers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColNumbers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RowNumbers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RowNumbers)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
